In [1]:
import pandas as pd

### Задание 1  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
movies = pd.read_csv('/home/denis/MyProjects/Netology/HomeWork/13_func_data/ml-latest-small/movies.csv')

In [3]:
ratings = pd.read_csv('/home/denis/MyProjects/Netology/HomeWork/13_func_data/ml-latest-small/ratings.csv')

In [4]:
movies_data = movies.merge(ratings).groupby('title').mean().sort_values('rating', ascending=False)

In [5]:
def rang_rating(row):
    if row.rating >= 4.5:
        return "высокий рейтинг"
    elif row.rating < 4.5 and row.rating > 2:
        return "средний рейтинг"
    else:
        return "низкий рейтинг"

In [6]:
movies_data['rang'] = movies_data.apply(rang_rating, axis=1)

In [7]:
movies_data.reset_index().head()

,title,movieId,userId,rating,timestamp,rang
0,Ivan Vasilievich: Back to the Future (Ivan Vas...,102666.0,298.0,5.0,1.447366e+09,высокий рейтинг
1,Alien Escape (1995),1692.0,656.0,5.0,9.862425e+08,высокий рейтинг
2,Boiling Point (1993),3165.0,232.0,5.0,9.550876e+08,высокий рейтинг
3,Bone Tomahawk (2015),144976.0,486.0,5.0,1.464121e+09,высокий рейтинг
4,Borgman (2013),107649.0,450.0,5.0,1.475737e+09,высокий рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
Результат классификации запишите в отдельный столбец region.

In [70]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [62]:
keywords = pd.read_csv('/home/denis/MyProjects/Netology/LECTURE/12_func_data/keywords.csv')

In [69]:
keywords[keywords.keyword == 'сахалин'].head()

       keyword  shows
21445  сахалин  14494

In [71]:
def region(row):
    if row.keyword in geo_data['Центр']:
        return 'Центр'
    elif row.keyword in geo_data['Северо-Запад']:
        return 'Северо-Запад'
    elif row.keyword in geo_data['Дальний Восток']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [72]:
keywords['region'] = keywords.apply(region, axis=1)

In [76]:
keywords[keywords.region == 'Дальний Восток'].head()

           keyword  shows          region
5858   владивосток  43038  Дальний Восток
9084     хабаровск  29655  Дальний Восток
21445      сахалин  14494  Дальний Восток

### Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        1. для каждой строки пройдите по всем годам списка years
        2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [47]:
movie = movies_data.reset_index()

In [132]:
years = []
year = 1950
while year <= 2010:
    years.append(year)
    year+= 1

In [49]:
import re

In [127]:
def production_year(row):
    pattern = re.findall(r'([0-9]{4})', row)
    if pattern:
        x = int(pattern[0])
        if x in years:
            return x
        else:
            return 1900
    else:
        return 1900

In [147]:
movie['year'] = movie.title.apply(production_year)

In [160]:
movie[['year', 'rating']].groupby('year').mean().sort_values('rating', ascending=False).head(20)

        rating
year
1951  3.906653
1952  3.802318
1962  3.772962
1953  3.738878
1957  3.693322
1973  3.688212
1971  3.655363
1969  3.604509
1972  3.585295
1958  3.571956
1977  3.561309
1970  3.559196
1976  3.555585
1964  3.541368
1960  3.521093
1965  3.517831
1954  3.499630
1955  3.494027
1974  3.486787
1978  3.480250