In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'athletes.csv' )
data.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [3]:
print('Для height пустых строк {}'.format( len( data[ pd.isnull( data['height'] ) ] ) ))
print('Для weight пустых строк {}'.format( len( data[ pd.isnull( data['weight'] ) ] ) ))
print('Для nationality пустых строк {}'.format( len( data[ pd.isnull( data['nationality'] ) ] ) ))
print('Для sex пустых строк {}'.format( len( data[ pd.isnull( data['sex'] ) ] ) ))
print('Всего строк в наборе {}'.format( len( data ) ))

Для height пустых строк 330
Для weight пустых строк 659
Для nationality пустых строк 0
Для sex пустых строк 0
Всего строк в наборе 11538

In [4]:
data = data[ pd.isnull( data['height'] ) == 0 ]
data = data[ pd.isnull( data['weight'] ) == 0 ]

In [5]:
from sklearn.linear_model import LogisticRegression

In [7]:
data_trans = data[ ['height', 'weight', 'sport'] ]

In [8]:
data_trans = pd.get_dummies( selectedColumns)

In [8]:
data_trans.head()

   height  weight      sport
0    1.72    64.0  athletics
1    1.68    56.0    fencing
2    1.98    79.0  athletics
3    1.83    80.0  taekwondo
4    1.81    71.0    cycling

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
le.fit( data_trans['sport'] )

LabelEncoder()

In [11]:
le.classes_

array(['aquatics', 'archery', 'athletics', 'badminton', 'basketball',
       'canoe', 'cycling', 'equestrian', 'fencing', 'football', 'golf',
       'gymnastics', 'handball', 'hockey', 'judo', 'modern pentathlon',
       'rowing', 'rugby sevens', 'sailing', 'shooting', 'table tennis',
       'taekwondo', 'tennis', 'triathlon', 'volleyball', 'weightlifting',
       'wrestling'], dtype=object)

In [12]:
le.transform( [ 'aquatics', 'archery', 'triathlon' ] )

array([ 0,  1, 23])

In [13]:
model = LogisticRegression()

In [14]:
data_trans['sport']=le.transform(data_trans['sport'] )

/home/denis/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
data_trans

       height  weight  sport
0        1.72    64.0      2
1        1.68    56.0      8
2        1.98    79.0      2
3        1.83    80.0     21
4        1.81    71.0      6
...       ...     ...    ...
11533    1.64    58.0      2
11534    1.73    63.0      2
11535    1.85   100.0     26
11536    1.60    56.0     25
11537    1.85    70.0      2

[10858 rows x 3 columns]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test = train_test_split(data_trans, test_size=0.2)

In [17]:
y_train, y_test = x_train['sport'], x_test['sport']

In [18]:
model.fit( x_train, y_train )
predictions = model.predict(x_test)

/home/denis/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [19]:
model.score(x_test, y_test)

0.5197974217311234

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, model.predict(x_test))

0.5197974217311234